* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240, 233, 233, 0.5);
    display: none;
    z-index: 999;
    padding: 40px;
}

.dialog .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.side-bar {
    width: 15%;
    float: left;
    height: 100%;
    background: #fafafa;
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(224, 224, 224);
}

.side-bar ul {
    list-style: none;
    padding: 5px;
}

.cart {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fafafa;
}

.cart a {
    display: block;
    text-decoration: none;
    color:#000;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
}

.cart span {
    position: absolute;
    top: 1px;
    left: -3px;
    height: 16px;
    width: 16px;
    border-radius: 50%;

}
